// USER VARIABLES SECTION

$accent: rgb(82, 128, 172); // Accent Color
$fontsize: 14px; // Body Font Size
$textcolor: white; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$Roboto: Roboto, sans-serif;
$Raleway: Raleway;
$PlayfairDisplay: PlayfairDisplay;
$PostNoBillsJaffnaSemiBold: PostNoBillsJaffnaSemiBold;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"; // Bootstrap Reboot collection
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss"; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    // font-display: swap; // Uncomment to initially display system fonts
    src: local($fname), url($furl) format("woff2");
  }
}

@include font(
  "PlayfairDisplay",
  bold,
  800,
  "../fonts/playfair-display-v21-latin_cyrillic-800.woff2"
);
@include font(
  "PostNoBillsJaffnaSemiBold",
  bold,
  600,
  "../fonts/Post-No-Bills-Jaffna-SemiBold-600.woff2"
);
@include font(
  "Raleway",
  normal,
  300,
  "../fonts/raleway-v17-latin_cyrillic-300.woff2"
);

@include font(
  "Raleway",
  bold,
  600,
  "../fonts/raleway-v17-latin_cyrillic-600.woff2"
);

@include font(
  "Roboto",
  normal,
  300,
  "../fonts/roboto-v20-latin_cyrillic-300.woff2"
);

// GENERAL DOCUMENT STYLES

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input,
textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1920px;
  max-height: 100%;
  display: flex;
  position: relative;
}

.container__under {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
  padding: 0 10px;
  max-height: 100%;
  position: relative;
  z-index: 1000;
}

body {
  font-family: $Raleway;
  font-size: $fontsize;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  color: $textcolor;
  background: #242b33;
}
// E5E5E5
