@import "config";
@import "libs/magnific-popup";

.screen-residential-complex {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 840px;
  background-image: url(/images/dest/screen-residential-complex.webp); //or .jpg
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}

.residential-complex__header-title-search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
  max-height: 100%;
}

.header {
  position: relative;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  max-height: 100%;
  align-items: stretch;
  margin-bottom: 225px;
}

.header__housevop-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-top: 1%;
}

.header__housevop-title {
  font-family: $PostNoBillsJaffnaSemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}

.header__housevop-title-link {
  margin-bottom: 5%;
}

.header__housevop-title-link:hover {
  text-decoration: none;
}

.header__housevop-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.header__housevop-subtitle-link:hover {
  text-decoration: none;
}

.header-menu {
  position: relative;
  max-width: 100%;
  flex-basis: 55%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-menu__box {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  flex-basis: 100%;
}

.header-menu__box-items:first-child {
  padding: 0;
}

.header-menu__box-items {
  list-style: none;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.header-menu__box-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #d4c17f;
  }
}

.residential-complex__main-title-search-tel-adress {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.residential-complex__main-title {
  position: relative;
  max-width: 75%;
  margin-bottom: 105px;
}

.style-h1 {
  font-family: $PlayfairDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #d4c17f;
}

.residential-complex__search {
  position: relative;
  min-width: 100%;
  display: flex;
  margin-bottom: 180px;
}

.residential-complex__search-forms {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.residential-complex__search-form {
  display: flex;
  flex-grow: 1;
}

.residential-complex__tel-adress {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 55%;
  flex-direction: row;
  margin-bottom: 70px;
}

.residential-complex__adress-text-box {
  max-width: 60%;
  flex-basis: 48%;
}

.residential-complex__adress-img {
  position: relative;
  width: 100%;
  height: 21px;
}

.residential-complex__adress-img::after {
  background-image: url(/images/dest/residential-complex__adress-img.svg);
  background-repeat: no-repeat;
  content: "Наб. реки Фонтанки 10-15";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  opacity: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: white;
}

.residential-complex__adress-img:hover::after {
  background-image: url(/images/dest/residential-complex__adress-img--active.svg);
  content: "Наб. реки Фонтанки 10-15";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  opacity: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #d4c17f;
}

.residential-complex__tel-text-box {
  max-width: 60%;
  flex-basis: 35%;
}

.residential-complex__tel-img {
  position: relative;
  width: 100%;
  height: 21px;
}

.residential-complex__tel-img::after {
  background-image: url(/images/dest/residential-complex__tel-img.svg);
  background-repeat: no-repeat;
  content: "8 (812) 123-45-67";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  opacity: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: white;
}

.residential-complex__tel-img:hover::after {
  background-image: url(/images/dest/residential-complex__tel-img--active.svg);
  content: "8 (812) 123-45-67";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  opacity: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #d4c17f;
}

.screen-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 420px;
  position: relative;
}

.screen-menu__items-box {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.screen-menu__item-text {
  font-family: $Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.screen-menu__item-1 {
  max-width: 100%;
  flex-basis: 25%;
}

.screen-menu__item-2 {
  max-width: 100%;
  flex-basis: 25%;
}

.screen-menu__item-3 {
  max-width: 100%;
  flex-basis: 25%;
}

.screen-menu__item-4 {
  max-width: 100%;
  flex-basis: 25%;
}

.screen-menu__item-img-1 {
  background-image: url(/images/dest/screen-menu__item-img-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 80px;
  min-height: 80px;
}

.screen-menu__item-img-2 {
  background-image: url(/images/dest/screen-menu__item-img-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 80px;
  min-height: 80px;
}

.screen-menu__item-img-3 {
  background-image: url(/images/dest/screen-menu__item-img-3.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 80px;
  min-height: 80px;
}

.screen-menu__item-img-4 {
  background-image: url(/images/dest/screen-menu__item-img-4.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 80px;
  min-height: 80px;
}

.item-img {
  margin-bottom: 50px;
}

.screen-our-apartments {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 810px;
}

.screen-our-apartments__title-img {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.screen-our-apartments__title {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 100px;
}

.style-h2 {
  font-family: $PlayfairDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
}

.screen-our-apartments__img {
  max-width: 100%;
  max-height: 100%;
}

.screen-our-apartments__img-list {
  max-width: 100%;
  max-height: 100%;
}

.screen-our-apartments__img-items:first-child {
  padding: 0;
}

.screen-our-apartments__img-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  overflow: scroll;
  max-width: 100%;
  overflow-y: hidden;
  box-sizing: content-box;
  overflow: hidden;
}

.screen-our-apartments__img-item {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  transform-origin: center left;
  position: relative;
}

.screen-our-apartments__img-item-link {
  max-width: 100%;
  max-height: 100%;
  text-decoration: none;
}

.screen-our-apartments__img-item-link-box {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.screen-our-apartments__img-item-link-box::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4);
  transition-timing-function: ease-out;
  transition-duration: 200ms;
  transition-property: box-shadow;
}

.screen-our-apartments__img-item-link-box:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inherit;
}

.apartments-img {
  max-width: 100%;
  max-height: 100%;
}

.apartments-text {
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  position: absolute;
  bottom: 50px;
  left: 40px;
  display: block;
  z-index: 1;
  margin: 0;
}

.screen-our-apartments__img-list ul li:hover p {
  transition-delay: 200ms;
  opacity: 0;
}

.screen-form {
  background-image: url(/images/dest/screen-form--background.jpg); //or .webp
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 560px;
  position: relative;
  justify-content: center;
}

.screen-form__text-input {
  position: relative;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  flex-direction: row;
}
.screen-form__text {
  max-width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-basis: 50%;
}
.screen-form__text-title {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 100%;
  flex-basis: 100%;
}

.title-h2 {
  margin-bottom: 50px;
}
.screen-form__text-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.screen-form__input {
  flex-basis: 50%;
  align-items: center;
  display: flex;
  justify-content: stretch;
}

.screen-form__input-forms {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
.screen-form__input-forms-box {
  display: grid;
  grid-template: repeat(2, 0.7fr) / repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 30px;
}
.screen-form__input-form {
  background: #444444;
  border: 1px solid #444444;
  box-sizing: border-box;
  opacity: 0.2;
  color: white;
  padding-left: 15px;
  //  Это для того, чтобы вводимый текст был белым и после снятия с него выбора

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    color: white;
    // Это для того, чтобы вводимый текст был белым во время выбора или фокуса.
    opacity: 1;
    padding-left: 15px;
  }
}

.screen-form__input-form::placeholder {
  font-weight: 600;
  color: #bebebe;
  font-size: 14px;
  line-height: 27px;
  opacity: 1;
  text-align: center;
  padding-right: 15px;
}

.screen-form__input-form:focus::placeholder {
  opacity: 0;
  // Чтобы название исчезало после фокусировки на этом инпуте
}

.screen-form__input-form-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #e7e7e7;
}
.screen-form__input-form-sub {
  font-family: $Raleway;
  padding: 12px 54px;
  background: #d1a954;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  justify-self: end;
  align-self: start;

  &:hover {
    color: #c4c4c4;
  }
}

.screen-video {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 830px;
  position: relative;
}

.screen-video__box {
  position: relative;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}

.start-video {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}

.start-video:hover {
  opacity: 1;
  -webkit-filter: brightness (1);
}

div.thumbnail_container {
  width: 720px;
  height: 650px;
  overflow: hidden;
  background-color: #000;
}

.thumbnail_container {
  display: flex;
  align-items: inherit;
}

img.thumbnail {
  margin-top: -50px;
  opacity: 0.5;
}

.screen-map {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 500px;
  position: relative;
}
.screen-map__title-map-box {
  max-width: 100%;
  max-height: 100%;
}

.screen-map__title {
  margin-bottom: 90px;
  max-width: 100%;
}

.screen-map__map {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

.google-map {
  max-width: 1110px;
  max-height: 360px;
  flex-basis: 100%;
}

.screen-form-under {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 500px;
  position: relative;
  justify-content: center;
}

.screen-form-under__text-input {
  position: relative;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  flex-direction: column;
}
.screen-form-under__text {
  max-width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.screen-form-under__text-title {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 100%;
  flex-basis: 100%;
}

.title-h2 {
  margin-bottom: 50px;
}

.screen-form-under__input {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.screen-form-under__input-forms {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
.screen-form-under__input-forms-box {
  display: grid;
  grid-template: repeat(1, 0.3fr) / repeat(4, 0.7fr);
  row-gap: 40px;
  column-gap: 30px;
}
.screen-form-under__input-form {
  background: #444444;
  border: 1px solid #444444;
  box-sizing: border-box;
  opacity: 0.2;
  color: white;
  padding-left: 15px;
  //  Это для того, чтобы вводимый текст был белым и после снятия с него выбора

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    color: white;
    // Это для того, чтобы вводимый текст был белым во время выбора или фокуса.
    opacity: 1;
    padding-left: 15px;
  }
}

.screen-form-under__input-form::placeholder {
  font-weight: 600;
  color: #bebebe;
  font-size: 14px;
  line-height: 27px;
  opacity: 1;
  text-align: center;
  padding-right: 15px;
}

.screen-form-under__input-form:focus::placeholder {
  opacity: 0;
  // Чтобы название исчезало после фокусировки на этом инпуте
}

.screen-form-under__input-form-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #e7e7e7;
}
.screen-form-under__input-form-sub {
  font-family: $Raleway;
  padding: 12px 54px;
  background: #d1a954;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  justify-self: end;
  align-self: start;

  &:hover {
    color: #c4c4c4;
  }
}

.under-input-form-3 {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: start;
}

// This is where the footer starts

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 275px;
  position: relative;
  justify-content: center;
}

.footer::after {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #2d343c;
  // opacity: 1;
  z-index: 5;
}

.footer-box {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__housevop-box {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer__housevop-title-link:hover {
  text-decoration: none;
}

.footer__housevop-title {
  font-family: $PostNoBillsJaffnaSemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #fff;
}

.footer__housevop-subtitle-link:hover {
  text-decoration: none;
}

.footer__housevop-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12em;
  color: #fff;
}
.footer-list-box {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

.footer-lists:first-child {
  padding: 0;
}

.footer-lists {
  list-style: none;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-list {
  max-width: 100%;
  max-height: 100%;
  margin: 5px 0px;
}
.footer-list-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #ffffff;

  &:hover {
    color: #d4c17f;
    text-decoration: none;
  }
}
.footer-list-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.mark {
  background: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #d4c17f;
}

.footer-list-text-link {
  display: flex;
}

.youtube {
  background-repeat: no-repeat;
  background-image: url(/images/dest/youtube--passive.svg);
  max-width: 100%;
  max-height: 100%;
  background-size: 28px 20px;
  display: inline-block;
  background-position: center center;

  &:hover {
    background-image: url(/images/dest/youtube--active.svg);
  }
}

.vk {
  background-repeat: no-repeat;
  background-image: url(/images/dest/vk--passive.svg);
  max-width: 100%;
  max-height: 100%;
  background-size: 35px 20px;

  display: inline-block;
  background-position: center center;

  &:hover {
    background-image: url(/images/dest/vk--active.svg);
  }
}

.facebook {
  background-repeat: no-repeat;
  background-image: url(/images/dest/facebook--passive.svg);
  max-width: 100%;
  max-height: 100%;
  background-size: 11px 20px;
  display: inline-block;
  background-position: center center;

  &:hover {
    background-image: url(/images/dest/facebook--active.svg);
  }
}

.insta {
  background-repeat: no-repeat;
  background-image: url(/images/dest/instagram--passive.svg);
  max-width: 100%;
  max-height: 100%;
  background-size: 20px 20px;
  display: inline-block;
  background-position: center center;

  &:hover {
    background-image: url(/images/dest/instagram--active.svg);
  }
}

.footer-lists-icon:first-child {
  padding: 0;
}

.footer-lists-icon {
  list-style: none;
  padding: 0;
  display: flex;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 75%;
  max-height: 100%;
}

.footer-icon-list {
  max-width: 100%;
  max-height: 100%;
}

.footer-list-icon-link {
  width: 35px;
  height: 30px;
}

#___gcse_0 {
  min-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.gcse-search {
  max-width: 100%;
  max-height: 100%;
}

.gsc-control-cse.gsc-control-cse-ru {
  padding: 0;
}

.gsc-search-button.gsc-search-button-v2 {
  border: none;

  &:hover {
    border: none;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.gsc-input {
  padding: 0;
}

.gsc-search-box.gsc-search-box-tools {
  margin-bottom: 0;
}

.gsc-input {
  font-size: 16px;
}

table.gsc-search-box td.gsc-input {
  padding-right: 0 !important;
}

#gsc-i-id1 {
  font-size: 16px;
  size: 16px;
  font-family: $Raleway;
  font-style: normal;
  font-weight: bold;
}

.gsc-search-button {
  display: none;
}

.screen-messege {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 800px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.messege__under {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.messege__under-text {
  background: none;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: white;
  margin: 0;
  height: 100px;
}

table.gsc-search-box {
  margin-bottom: 0 !important;
}

.gsc-input-box {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

// #player {
//   width: 720px !important;
//   height: 650px !important;
//   padding: 15px 0;
// }

@import "libs/media";
